.env
*.log
data/*
!data/plugins/
data/plugins/*
!data/plugins/Multiverse-Core/
data/plugins/Multiverse-Core/*
!data/plugins/Multiverse-Core/config.yml
!data/plugins/Multiverse-Core/worlds.yml
db_data/
backups/
crash-reports/
logs/
.DS_Store
