.env
*.log
data/*
!data/plugins/
data/plugins/*
!data/plugins/Multiverse-Core/
data/plugins/Multiverse-Core/*
!data/plugins/Multiverse-Core/config.yml
!data/plugins/Multiverse-Core/worlds.yml
!data/plugins/LuckPerms/
data/plugins/LuckPerms/*
!data/plugins/LuckPerms/yaml-storage/
data/plugins/LuckPerms/yaml-storage/*
!data/plugins/LuckPerms/yaml-storage/groups/
data/plugins/LuckPerms/yaml-storage/groups/*
!data/plugins/LuckPerms/yaml-storage/groups/default.yml
!data/plugins/LuckPerms/yaml-storage/groups/admin.yml
!data/plugins/Multiverse-Inventories/
data/plugins/Multiverse-Inventories/*
!data/plugins/Multiverse-Inventories/config.yml
!data/plugins/Multiverse-Inventories/groups.yml
db_data/
backups/
crash-reports/
logs/
.DS_Store
